# Учетная запись администратора, создается один раз после миграций
ADMIN_EMAIL=admin@email.ru
ADMIN_PASSWORD=passWOrd

# Настройки HTTP сервера
SERVER_PORT=8080
SERVER_READ_TIMEOUT=10s
SERVER_WRITE_TIMEOUT=10s
SERVER_IDLE_TIMEOUT=60s

# Postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=PAssword
DB_NAME=tplatform
DB_SSL_MODE=disable
DB_MAX_CONNS=10

# Logger
LOG_LEVEL=info # debug, info, warn, error

# JWT
JWT_SECRET=LONG-SECRET-KEY
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=720h # 30 дней